.introducao {
  margin: 0 auto;
  background-color: #6b1009;
  border-top: 1px solid grey;
}

main .descricao {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

main .descricao p {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  margin-left: 120px;
  color: whitesmoke;
  font-size: 25px;
  min-width: 500px;
}

main .descricao span {
  font-weight: 600;
  color: white;
}

main .descricao img {
  margin-top: 60px;
  margin-right: 10px;
  animation: mover-img 2s ease-in-out infinite;
}

@keyframes mover-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsividade laptops */

@media (max-width: 1015px) {
  main .descricao p {
    margin-left: 30px;
    font-size: 20px;
    min-width: 380px;
  }

  main .descricao img {
    margin-top: 0px;
    width: 50%;
    animation: mover-img 2s ease-in-out infinite;
  }
}

@media (max-width: 774px) {
  main .descricao p {
    margin-left: 60px;
    font-size: 20px;
    min-width: 380px;
  }

  main .descricao img {
    margin-top: 0px;
    width: 45%;
    animation: mover-img 2s ease-in-out infinite;
  }
}

@media (max-width: 480px){
  main .descricao {
    display: flex;
    max-width: 100%;
  }

  main .descricao p {
    font-size: 16px;
    margin: 0px 40px;
    padding: 40px 0;
    min-width: 290px;
  }

  main .descricao img {
   display: none;
  }
}
