.header {
  display: flex;
  flex-wrap: wrap;
  height: 120px;
  background-color: #410000;
  justify-content: space-between;
  align-content: center;
}

.header img {
  display: flex;
  align-items: center;
  margin-left: 120px;
  transition: 1s all;
}

nav.navigation {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-right: 120px;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation li a {
  display: flex;
  align-self: center;
  color: #ffffff;
  text-decoration: none;
  margin-left: 40px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.navigation a:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0, 69);
  color: white;
  background-color: #d14e47;
  box-shadow: #4b0600 0px 7px 2px, #000 0px 8px 5px;
}

/* Responsividade laptops */

@media (max-width: 1015px) {
  .header img{
    margin: 0 auto;
    justify-content: center;
  }

  nav.navigation{
    justify-content: center;
    margin: 0 auto;
  }

  .navigation li a{
    margin-left: 30px;
  }
}


/* Resposividade tablet */

@media (max-width: 774px) {
  .header img{
    max-width:100%;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
  }

  nav.navigation{
    justify-content: center;
    margin: 0 auto;
  }
}

/* Resposividade mobile */

@media (max-width: 480px){
  .header{
    height: 200px;
  }
  .header img{
    display: flex;
    align-items: center;
  }

  .navigation li a{
    font-size: 12px;
    margin-left: 8px;
    padding: 5px 10px;
  }

  .navigation a:hover {
    color: rgb(209, 209, 209);
    background-color: transparent;
    box-shadow: none;
  }
}
